/* Crypto Prices Page */

#pricesHeading {
    background: #2E353C;
    color: #DCE0D9;
    width: 100%;
}

.logo {
    width: 1.5em;
    height: 1.5em;
}

#priceTable {
    margin: 0px auto;
    border: solid #2E353C 1.5px;
    width: 100%;
}

.priceTableText {
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

th {
    color: #66C8CA;
    font-family: 'Arial Bold', sans-serif;
    background-color: #2E353C;
}