html,
body {
    margin: 0;
    padding: 0;
    background-color: #DCE0D9
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

p {
    margin-left: 75px;
    margin-right: 75px;
}


/* Headers */

h1,
h2,
h3,
h4 {
    color: #000000;
    text-align: center;
}


/* Body */

body {
    text-align: center;
}


/* Button */

button {
    background-color: #40ACAD;
    color: black;
    font-size: 20px;
    display: inline-block;
}


/* Image */

img {
    width: 200px;
    height: 200px;
}


/*
Darkests: #2C9596
Middle:   #40ACAD
Lightest: #66C8CA

White:   #DCE0D9
Grey:    #2E353C
/* Classes */

.Who img {
    /*border-color: #2E353C;*/
    /*border-color: #2C9596;*/
    border-color: #66C8CA;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

.Who,
.Who h1,
.Who h3 {
    background-color: #2E353C;
    text-align: center;
    color: #DCE0D9;
}

.Who {
    border-bottom: solid #66C8CA 5px;
    padding-top: 16px;
    padding-bottom: 6px;
}

#whoHr {
    border-color: #66C8CA;
}

.MyInfo {
    padding-left: 6px;
    padding-right: 6px;
    background-color: #DCE0D9;
}

.MyInfo {
    font-family: Helvetica;
}

h2 {
    color: #66C8CA;
    margin-top: 0;
    padding-top: .8em;
}

p {
    margin-bottom: 0;
    padding-bottom: .8em;
}


/* Menu */

.Menu {
    background-color: #DCE0D9;
    overflow: hidden;
}

.Menu a {
    text-decoration: none;
    color: #2C9596;
    float: left;
    display: block;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 1.7em;
}

.Menu span {
    color: #2C9596;
    font-size: 1.5em;
    float: right;
    padding-right: 5%;
    display: inline;
}


/*By Default, Hide navigational Icon */

.Menu .icon {
    display: none;
}


/* When Screen Is Small Do This */

@media screen and (max-width: 1100px) {
    .Menu a:not(:first-child) {
        display: none;
    }
    .Menu a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 1100px) {
    .Meny.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .Menu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .links a {
        border-left: .1em solid #66C8CA;
        margin-left: 2em;
    }
    .links a:not(:first-child) {
        margin-top: 10px;
    }
}

#menuIcon {
    width: 20px;
    height: 20px;
}

#bitcoin:hover {
    transform: rotate(360deg);
    transition: all 1s;
}

#menuIcon:hover {
    transform: scaleX(1.5) scaleY(1.1);
    transition: all .1s;
}

#home:hover {
    transform: scaleX(1.2) scaleY(1.2);
    transition: all .1s;
    background-color: #2C9596;
    color: #DCE0D9;
}

#about:hover {
    transform: scaleX(1.2) scaleY(1.2);
    transition: all .1s;
    background-color: #2C9596;
    color: #DCE0D9;
}

#prices:hover {
    transform: scaleX(1.2) scaleY(1.2);
    transition: all .1s;
    background-color: #2C9596;
    color: #DCE0D9;
}

#tools:hover {
    transform: scaleX(1.2) scaleY(1.2);
    transition: all .1s;
    background-color: #2C9596;
    color: #DCE0D9;
}

#unknown:hover {
    transform: scaleX(1.2) scaleY(1.2);
    transition: all .1s;
    background-color: #2C9596;
    color: #DCE0D9;
}

#video {
    width: 60%;
    height: 20em;
}