html,
body {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

p {
    margin-left: 75px;
    margin-right: 75px;
}


/* Headers */

h1,
h2,
h3,
h4 {
    color: #000000;
    text-align: center;
}


/* Body */

body {
    background-color: #FFFFFF;
    text-align: center;
}


/* Button */

button {
    background-color: #40ACAD;
    color: #DCE0D9;
    font-size: 20px;
    display: inline-block;
}


/* Image */

img {
    width: 200px;
    height: 200px;
}


/*
Darkests: #2C9596
Middle:   #40ACAD
Lightest: #66C8CA

White:   #DCE0D9
Grey:    #2E353C
/* Classes */

.Who img {
    /*border-color: #2E353C;*/
    /*border-color: #2C9596;*/
    border-color: #66C8CA;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

.Who,
.Who h1,
.Who h3 {
    background-color: #2E353C;
    margin: auto;
    text-align: center;
    padding-bottom: 6px;
    padding-top: 6px;
    color: #DCE0D9;
    padding-top: 16px;
}

.Who {
    border-bottom: solid #66C8CA 3px;
}

#whoHr {
    border-color: #66C8CA;
}

.MyInfo {
    padding-left: 6px;
    padding-right: 6px;
}

.MyInfo {
    font-family: Helvetica;
}

h2 {
    color: #66C8CA;
}


/* Menu */

.Menu {
    background-color: #2E353C;
    border-bottom: .2em solid #66C8CA;
    overflow: hidden;
}

.Menu a {
    text-decoration: none;
    color: #DCE0D9;
    float: left;
    display: block;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 1.7em;
    border-right: solid #66C8CA .01em;
}

.Menu a:hover {
    background-color: #2C9596;
    color: #DCE0D9;
}

.Menu span {
    color: #DCE0D9;
    font-size: 1.5em;
    float: right;
    padding-right: 5%;
}


/*By Default, Hide navigational Icon */

.Menu .icon {
    display: none;
}


/* When Screen Is Small Do This */

@media screen and (max-width: 1100px) {
    .Menu a:not(:first-child) {
        display: none;
    }
    .Menu a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 1100px) {
    .Menu.responsive {
        position: relative;
    }
    .Meny.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .Menu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}